<div class="d-flex justify-content-center mt-4">
  <h1>新規登録ページ</h1>
</div>

<div class="container d-flex justify-content-center">
  <div class= "row mt-4">
    <%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-lg btn-block btn-info mt-4" %>
    <%= link_to "新規店舗登録", new_store_registration_path, class: "btn btn-lg btn-block btn-info mt-4" %>
    <%#= link_to "管理者登録", new_admin_registration_path, class: "btn btn-lg btn-block btn-info mt-4" #%>
  </div>
</div>