@use '~bootstrap/scss/bootstrap';

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

.main-bg {
  background-image: url('../images/mainvisual.jpg');
  background-size: cover;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
