<h1>Topページ</h1>
  
<h2>このサイトについて</h2>
<p>気になるカフェを調べたり、いいねやコメントができるレビューサイト。</p>

<h2>店舗投稿一覧</h2>
  <% @posts.each do |post| %>

    <p>タイトル</p>
    <span><%= post.title %></span>
    <p>本文</p>
    <span><%= post.body %></span>
    <p>画像</p>
    <% if post.post_image.attached? %>
      <%= image_tag post.post_image, size: "100x100" %>
    <% end %>

    <%= link_to "店舗詳細", store_path(post.store.id)%>

  <% end %>

<%# 店舗詳細ボタン %>