<div class="container d-flex justify-content-center mt-4">
  <h2><%= @store.store_name %>をお気に入りしているユーザー</h2>
</div>

<% @users.each do |user| %>
  <div class="card-list-container py-2">
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <% if user.user_image.attached? %>
              <%= image_tag user.user_image, size: "70x70" %>
            <% else %>
              <%= image_tag 'no_image', size: "70x70" %>
            <% end %>
          </div>
          <div class="col-9">
            <p class="card-text"><%= user.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>